@font-face {
  font-family: 'Perpetua Titling MT Light';
  src: url('fonts/Perpetua Titling MT Light.eot');
  src: url('fonts/Perpetua Titling MT Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Perpetua Titling MT Light.woff2') format('woff2'),
       url('fonts/Perpetua Titling MT Light.woff') format('woff'),
       url('fonts/Perpetua Titling MT Light.ttf') format('truetype');
}

body {
  font-family: 'Perpetua Titling MT Light', serif;
  padding-top: 18px;
  padding-left: 24px;
  padding-right: 24px;
}

h1, h2 {
  font-weight: normal;
  color: #441111;
}

h1 {
  margin-left: 32px;
}

h2 {
  text-align: center;
  color: #441111;
}

p, aside {
  color: #441111;
}

#so-much {
  text-align: right;
  margin-right: 36px;
}

aside {
  display: inline-block;
  font-size: 18px;
  margin-left: 18px;
}

img {
  width: 80%;
  min-width: 200px;
  border: 2px solid #d9a527;
}

figcaption {
  color: #b64325;
  font-size: 18px;
  margin-top: 6px;
  width: 80%;
  min-width: 200px;
  text-align: center;
}

.bio p {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

@media screen and (min-width: 871px) {
  .u-pull-right { float: right; }
  .u-pull-left { float: left; }
}

@media screen and (max-width: 870px) {
  img, figcaption {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
  #so-much {
    text-align: center;
    margin-right: 0;
  }
  aside {
    display: block;
    padding-top: 12px;
  }
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 12px;
    margin-left: 0;
  }
  h2 {
    font-size: 32px;
  }
  p {
    text-align: justify;
    color: #556B30;
  }
}
